
  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightblue;
    text-align: center;
  }
  
  h1 {
    color: white;
    
  }
  
  p {
    font-family: verdana;
    font-size: 50px;
  }
  
  a:link {
    color: red;
    text-decoration: none;
    padding-right: 20px;
  }
  a:visited {
    color: green;
    text-decoration: none;
    padding-right: 20px;
  }
  a:hover {
    color: hotpink;
    text-decoration: none;
    padding-right: 20px;
  }
  a:active {
    color: blue;
    text-decoration: none;
    padding-right: 20px;
  }

  img.wp-smiley, img.emoji {
		display: inline !important;
		border: none !important;
		box-shadow: none !important;
		height: 1em !important;
		width: 1em !important;
		margin: 0 0.07em !important;
		vertical-align: -0.1em !important;
		background: none !important;
		padding: 0 !important;
	}
  

  .site-title a {
    color: #2590ec;
  }

  div {
      display: block;
      unicode-bidi: isolate;
  }
  .site-header {
      text-align: center;
  }
  .wf-active body, .wf-active button, .wf-active input, .wf-active select, .wf-active textarea {
      font-family: "Open Sans", sans-serif;
  }
  body, button, input, select, textarea {
      color: #404040;
      font-family: "Merriweather", Georgia, "Times New Roman", serif;
      font-size: 17px;
      font-weight: 400;
      line-height: 1.8;
  }
  html {
      font-family: sans-serif;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  }
  *, *:before, *:after {
      box-sizing: inherit;
  }
  *, *:before, *:after {
      box-sizing: inherit;
  }
  .page-content,
  .gallery-caption {
      display: none;
  }
  
  
      #page {
          margin-left: 30px;
          margin-right: 30px;
      }
  
      .page_item_has_children > a:after {
          display: none;
      }
      .comment-body,
      .is-larger-text {
          font-size: 3em;
      }
      
      .has-drop-cap:not(:focus):first-letter {
          float: left;
          font-size: 8.4em;
          font-style: normal;
          font-weight: 100;
          line-height: 0.68;
          margin: 0.05em 0.1em 0 0;
          text-transform: uppercase;
      }
      
      body.rtl,
      .wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
          background-color: #f0f0f0;
      }
      
      .wp-block-table.is-style-stripes.has-subtle-light-gray-background-color tbody tr:nth-child(odd) {
          background-color: #f3f4f5;
      }
      
      .wp-block-table.is-style-stripes.has-subtle-pale-green-background-color tbody tr:nth-child(odd) {
          background-color: #e9fbe5;
      }
      
      .wp-block-table.is-style-stripes.has-subtle-pale-blue-background-color tbody tr:nth-child(odd) {
          background-color: #e7f5fe;
      }
      
      .wp-block-table.is-style-stripes.has-subtle-pale-pink-background-color tbody tr:nth-child(odd) {
          background-color: #fcf0ef;
      }
      
      .wp-block-table.is-style-stripes td,
      .wp-block
      
      .main-navigation ul ul {
          background-color: #fff;
          border: 0;
          float: none;
          margin: 0;
          opacity: 1;
          padding-left: 15px;
          position: static;
          width: auto;
      }
  
      .main-navigation ul li:hover > ul,
      .main-navigation ul li.focus > ul {
          left: auto;
          margin-left: 0;
      }
  
      .main-navigation ul ul:before {
          display: none;
      }
  
      .main-navigation ul ul li {
          border: 0;
      }
  
      .main-navigation ul ul li a {
          font-size: 16px;
          padding: 5px 15px;
      }
  
      .main-navigation ul ul li a:hover {
          background-color: transparent;
      }
  
  .with_frm_style textarea[readonly] {
    background-color: var(--bg-color-disabled);
    color: var(--text-color-disabled);
    border-color: var(--border-color-disabled);
}

.frm_preview_page:before {
    content: normal !important;
}

.frm_preview_page {
    padding: 25px;
}
